<mat-card class="example-card">
<div class="container" align="middle">
  
  <mat-card-content>
      <img src="assets/img/exam.jpg" class="responsive"/>
      </mat-card-content>
      <div class="text">
          <h1>ONLINE QUIZES</h1>
          <p>"DON'T BE THE SAME BE BETTER"</p>
      </div>

      <div class="content">
          <h1>TAKE YOUR ONLINE QUIZES</h1>
          <p>“The capacity to learn is a gift; the ability to learn is a skill; the willingness to learn is a choice.”</p>
        </div>
</div>
</mat-card>