<form [formGroup]="levelForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput placeholder="Level Name" formControlName="levelName">
  </mat-form-field>
  <div formArrayName="questions">
    <h3>Questions</h3>
    <mat-grid-list cols="2">
    <mat-grid-tile *ngFor="let question of levelForm.get('questions').controls; let iq = index;">
    <mat-card>
      <mat-card-header> Question {{iq+1}} </mat-card-header>
      <div [formGroupName]="iq">
        <mat-form-field class="questionNameTA">
          <textarea matInput placeholder="Question" formControlName="question" col="200"></textarea>
        </mat-form-field>
        <br>
        <div formArrayName="choices">
          <mat-form-field class="choiceInput" *ngFor="let choice of question.get('choices').controls; let ic = index;">
            <input matInput placeholder="choice {{ic+1}}" [formControlName]="ic">
          </mat-form-field>
          <br>
          <button mat-raised-button type="button" (click)="addChoice(question.get('choices'))">add choice</button>
        </div>

        <br>
        <mat-form-field>
          <mat-label>Correct answer</mat-label>
          <mat-select formControlName="answer">
            <mat-option *ngFor="let choice of question.get('choices').value" [value]="choice">
              {{choice}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card>
    </mat-grid-tile>
    </mat-grid-list>
    <button mat-stroked-button color="primary" type="button" (click)="addQuestion()">Add a question</button>
  </div>
  <button mat-raised-button color="primary" type="submit" [disabled]="!levelForm.valid">Submit</button>
</form>

<!-- {{ levelForm.value | json }} -->

