<p>Subject:{{ (subjectName | async) }}  - Level:{{ (levelName | async) }} </p> <br>

<div *ngIf="!showAnswer">
<div appIsvisible [display]="false" > test dir </div>
<div >   
    <div>
        <mat-label> Q:{{qnumber}}  {{currentQuestion.question}} </mat-label>
      </div>
      <div>
        Answers:
        <ul >
            <li *ngFor="let q of currentQuestion.choices ">
                <input type="radio" name="ans" (click)="setAnswer(q)" [checked]="answers[qnumber-1].answer == q"> {{q}}                 
            </li> 
            
        </ul>
      </div>
</div>

<button type="button" (click)="previousQuestions()" *ngIf="isPrev" >Prev</button> 
<span>     </span>
<button type="button" (click)="nextQuestion()" *ngIf="isNext">Next</button>
<button type="button" (click)="submitanswer()" *ngIf="!isNext"> submit</button> 

</div>
  <div *ngIf="showAnswer">
    Result:
     <br>
    Correct: {{quizResult.correct}}<br>
    Total: {{quizResult.total}}
  </div>
