.questions {
  text-align: center;
}
.question, .actions, .result {
  max-width: 600px;
  text-align: left;
  position: relative;
  left: calc(50% - 300px);
  
}

h3 {
  text-align: center;
}
.actions {
  margin-top: 20px;
}
.actions .right {
  float: right !important;
}
.actions .left {
  float: left;
}
ul {
  list-style: none;
}
.result {
  max-width: 300px;
  left: calc(50% - 150px);
}

@media screen and (max-width: 515px) {
  .question, .actions {
    max-width: calc(100% - 30px);
    left: 15px;
  }
}