
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Subjects</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            <mat-list>
                <mat-list-item *ngFor="let subject of subjects">
                <mat-icon mat-list-icon>school</mat-icon> 
                <h4 mat-line><a (click)="setSubjectName(subject.subjectName)" [routerLink]="[subject._id]">{{subject.subjectName}}</a></h4>
                <mat-divider></mat-divider>
                </mat-list-item>
            </mat-list>
          </p>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>